/* .community-container{
    background: #eee;
    justify-content:center;
    align-items:center;
    display:flex;
    min-height:90vh;
} */

.card {
    position: relative;
    width: 300px;
    height: 350px;
    border-radius: 0px 10px 10px 0px;
    /* background: #f4f4f4; */
    justify-content: center;
    align-items: center;
    display: flex;
    perspective: 100em;
    margin: 25px;
    box-shadow: 30px 40px 40px rgba(0, 0, 0, 0.2);
}

.cover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 1s;
    border-radius: 0px 10px 10px 0px;
    font-size: 30px;
    font-weight: bold;
}

.card:hover .cover {
    transform: rotateY(-120deg);
}

.card:hover{
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}  

.coverFront,
.coverBack {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.coverFront {
    /* background: #f4f4f4; */
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    color: #333;
}

.coverBack {
    background: #ddd;
    border-radius: 10px 0px 0px 10px;
    transform: rotateY(180deg);
}
